<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CalleyAutomationSuite" parallel="false">
    <test name="Calley Functional Tests">
        <classes>
            <class name="tests.RegistrationTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.AgentTest"/>
            <class name="tests.ListUploadTest"/>
        </classes>
    </test>
</suite>
